<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- This section tells IIS to look for index.html as the default page -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <!-- This section tells IIS to show detailed error messages -->
        <httpErrors errorMode="Detailed" />
    </system.webServer>
    <system.web>
        <!-- This is the setting mentioned in the error message -->
        <customErrors mode="Off"/>
    </system.web>
</configuration> 